[Desktop Entry]
Type=Application
Name=Feather Wallet
GenericName=Monero Wallet
Comment=A free Monero desktop wallet
Icon=FeatherWallet
Exec=feather
Terminal=false
Categories=Network;
StartupNotify=false
StartupWMClass=feather
Keywords=crypto;currency;XMR
